<html>
	<head>
		<title> {{ title }}</title>
    </head>

    <body>
        <h1>This is my Virtual Machine on Microsoft Azure, it seems to be working</h1>
        <h2>The date and time on this VM is {{ time }} </h2>
        <p>The cake is indeed a lie!</p><br><br>
		<h1>Acceleration Data</h1>
		<bq>Saved acceleration data files:</bq>
		<p>
			
			<a href="/static/accel_0622_081010.csv">accel_0622_081010.csv</a><br><br>
			<a href="/static/accel_0622_082020.csv">accel_0622_082020.csv</a><br><br>
			
		</p>
	</body>
</html>




